
body{
    margin:0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f2efed;
}

-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box:hover {
  background-color: green;
  cursor: pointer;
}




#canvas {
    width: 500px;
    height: 270px;
    background: black;
    border-top: 90px solid #fc2f8b;
    border-bottom: 90px solid #2ed6fc;
    position: relative;

}

h1 {
     -webkit-font-smoothing: antialiased;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 200px;
  color:white;
  top: -268px;
    left: 200px;
    position: absolute;
}

h1:hover {
  color: #FFD133;
  cursor: pointer;
}

h2 {
  -webkit-font-smoothing: antialiased;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 200px;
  color:white;
  top:-270px;
  left: 160px;
  position: absolute;

}

h2:hover {
  color: #FFD133;
  cursor: pointer;
}

h3{
  -webkit-font-smoothing: antialiased;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 200px;
  color:white;
  top:-304px;
  left: 240px;
  position: absolute;
}

h3:hover {
  color: #FFD133;
  cursor: pointer;
}


 #circle {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid white;
      top:40px;
      left: 196px;
      position: absolute;

    }

#circle:hover {
  color: #FFD133;
  cursor: pointer;
} 
  















