
body{
    margin:0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f2efed;
}
#canvas {
    width: 500px;
    height: 270px;
    background: black;
    border-top: 90px solid #fc2f8b;
    border-bottom: 90px solid #2ed6fc;
    position: relative;
}

h1 {
     -webkit-font-smoothing: antialiased;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 600px;
  color:red;
  top: -600px;
    left: 200px;
    position: relative;

}

