
body{
    margin:0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f2efed;
}
#canvas {
    width: 500px;
    height: 270px;
    background: black;
    border-top: 90px solid #fc2f8b;
    border-bottom: 90px solid #2ed6fc;
    position: relative;
}

div #circle {
    width: 0px;
    height: 0px;
    border-radius: 60px;
    border: 45px solid white;
    top: -80px;
    left: 200px;
    position: relative;

}

div #circle1 {
    width: 0px;
    height: 0px;
    border-radius: 60px;
    border: 45px solid white;
    top: -90px;
    left: 200px;
    position: relative;

}

div #circle2 {
    width: 0px;
    height: 0px;
    border-radius: 60px;
    border: 46px solid white;
    top: -100px;
    left: 200px;
    position: relative;

}
div #circle3 {
    width: 0px;
    height: 0px;
    border-radius: 60px;
    border: 46px solid white;
    top: -273px;
    left: 120px;
    position: relative;

}

div #circle4 {
    width: 0px;
    height: 0px;
    border-radius: 60px;
    border: 46px solid white;
    top: -365px;
    left: 280px;
    position: relative;

}




