
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
#desktop {
    width: 100%;
    height: 100vh;
    background: url('../image/light.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size:100%;
}

#tablet,
#mobile,
#print {
    display: none;
}

/* tablet */
@media (min-width: 870px) and (max-width: 1024px) {
    body {
        background: black;
    }

    #tablet {
        display: block;
        margin-top:150px;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        font-family: 'BureauGrotCondensed Bold', sans-serif;
        font-size: 130px;
        height: 100vh;
        background: black;
    }

    #one {
        color:red;
    }
    #two{
        color:orange;
    }
    #three{
        color:green;
    }

    #mobile,
    #print,
    #desktop {
        display: none;
    }
}
/* mobile */
@media (max-width: 869px) {
    body {
        background-color: red; 
        
    }
    
    
    #mobile {
        display: block;
        animation-name: background;
        animation-duration:1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        height: 100vh;
        width: 100vw;
    }

    @keyframes background {
        0%   {background-color: red;}
        55%  {background-color: yellow;}
        100%  {background-color: green;}
        
    } 
    #tablet,
    #print, 
    #desktop {
        display: none;
    }
}
/* print */
@media print {
    body {
        background: orange;
    }
    #print {
        display: inline;
        color: blue;
        display: block;
        margin-top:150px;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        font-family: 'BureauGrotCondensed Bold', sans-serif;
        font-size: 50px;
        height: 100vh;
        background: black;

    }
   /* #desktop,
    #tablet,
    #mobile {
        display: none;
    }*/
}