
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background:#f7f7f7;
    font-size: 100px;

}
#question{
    display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
    color: #aa0de8;
    width: 100vw;
    height: 100vh;
    font-family: 'Abril Fatface', cursive;
    font-size: 140px;
    line-height:150px;
}
#answer {
    display: none;
}
/* hidden message */
@media (max-width: 1024px) {
    body {
        background: brown;
    }
    #answer {
            display: flex;
                  justify-content: center;
                  flex-direction: column;
                  text-align: center;
        color: grey;
        width: 100vw;
        height: 100vh;
        font-family: 'Flintstone';
        font-size: 140px;
        line-height:150px;
    }

    #question {
        display: none;
    }
}