

body {
        background-color:#57e814 ; 
        display: block;
        animation-name: background;
        animation-duration:1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
        animation-play-state: running;
        position: relative;
       
    }

    @keyframes background {
        0%   {background-color: #57e814;}
        55%  {background-color: #a7ff05;}
        100%  {background-color: #f6ff05;}
        
    } 


 .limewire {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
       font-weight: bold;
       font-size: 70px;
       text-align: center;
       display: block;
       padding-top: 20px;
       


 }

.grid-container {
      display: grid;
      grid-template-columns: 164px 500px 164px 164px 164px;
       grid-template-rows: 35px 562px ;

       /*transform: translate(-50%, -50%);*/
       font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
       font-weight: bold;
       font-size: 20px;
       background: #57e814;
      text-decoration: none;


     }

.grid-item {
	background: red;
}
       
/*grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
    }

*/
    #nameitem {
      background-color: #cecece;
      border: 2px solid black;
      text-align: center;
      padding-top: 5px;
      /*top:10px;
      vertical-align: middle;*/
    }



.rows {
    font-family: "Monaco", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
       font-weight: lighter;

       

}
#row1 {
  text-align: center;
  /*padding-top:-20px;*/
  font-size:60px;
  color: yellow;
  outline-color:red;
  outline-width:20px;
  line-height: 29px;

}

#row2{
     font-family: "Monaco", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
     font-size: 17px;
     line-height: 29px; 
     text-align: left;
     padding-top: 2px;

}
svg {
  line-height: 25px;
}
#row3{
  font-size: 17px;
     line-height: 29px; 
     text-align: center;
     padding-top: 2px;
}
#row4{
  font-size: 17px;
     line-height: 29px; 
     text-align: left;
     padding-top: 2px;
}
#row5{
	font-size: 17px;
     line-height: 29px; 
     text-align: center;
     padding-top: 2px;
}
#window {
  height: 1000px;
  width:1156px;
  overflow-y: scroll;
  overflow-x: hidden;
       height: 597px;
       margin:auto;
       position: relative;
       top:10vh;
       left:0vh;
       background: #57e814;
}
/* width */
::-webkit-scrollbar {
  width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ada9a9; 

}


#fix {
  position: fixed;
  z-index: 100;
  height: 10px;
}

a:hover{
	color:#ada9a9;
}











